<% library.forEach(function(model) { %>
<tr>
     <td><input type="checkbox" value="<%= model.id %>"></td>
     <td class="text-center"><a href="#Payroll/restore/<%= model.id %>" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
     <td class="text-center"><a href="#Payroll/view/<%= model.id %>" class="text-info"><span class="glyphicon glyphicon-folder-open"></a></td>
     <td class="text-center"><a href="#Attendance/view/<%= model.id %>">attendance</a></td>

     <td style="text-align: center"><%= model.location %></td>
     <td style="text-align: center"><%= model.date_from %></td>
     <td style="text-align: center"><%= model.date_to %></td>
     <td style="text-align: center"><%= accounting.formatMoney(payrollemps.function.getTotalOfPayroll(model.id)," ",2) %></td>
     <td style="text-align: center"><%= accounting.formatMoney(model.advances_total," ",2) %></td>
     <td style="text-align: center"><%= accounting.formatMoney(model.sss_total," ",2) %></td>
     <td style="text-align: center"><%= accounting.formatMoney(model.phil_total," ",2) %></td>
     <td style="text-align: right"><%= accounting.formatMoney(model.net," ",2) %></td>
     <td style="text-align: center"><%= model.date %></td>
     <td style="text-align: center"><%= model.time %></td>
     <td style="text-align: center"><%= accounts.function.getFullname(model.personnel) %></td>
</tr>
<% }) %>