                            <div class="modal fade" id="modalPayrollempsRemoved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 400px" id="div-modalPayrollempsRemoved">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
                                        </div>

                                        <div class="modal-body" style="font-size: 12px">
                                       
                                                 <!-- <div class="col-sm-4"> -->
                                                 <div class="input-group" style="width: 220px">
                                                    <input type="text" class="form-control" placeholder="Search" id="search-query-3" >
                                                    <span class="input-group-btn">
                                                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                                                    </span>
                                                  </div>
                                                   <hr/>

                                                       <ul class="list-group" id="list-of-payrollemps-removed">
                                                           <li class="list-group-item">loading........</li>
                                                       </ul>
                                                 <!-- </div> -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>