                            <div class="modal fade" id="modalTablePayrollemps" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 90%" id="div-modalTablePayrollemps">
                                    <div class="modal-content">

                                        <div class="modal-header text-right" >
                                           <div class="">
                                                <label class="pull-left">
                                                    <input type="checkbox" id="chk-allowance" >&nbsp;&nbsp;This is a rice allowance payroll
                                                </label>
                                                <button type="button" class="btn btn-default btn-xs " data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-info btn-xs" id="btnShowAttendance">Show attendance</button>
                                                <button class="btn btn-default btn-info btn-xs " id="retreive-payrollemps">Retrieve</button>
                                                <button type="button" class="btn btn-default  btn-xs btn-info js-popover" id="btnPayrollEmpBreakDown" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Break Down</button>
                                                <button class="btn btn-success btn-xs " id="btnPrint"><span class="glyphicon glyphicon-print"></span> &nbsp;&nbsp;Print table</button>
                                                <button class="btn btn-success btn-xs " id="btnPrintEnvelopes"><span class="fa fa-envelope"></span> &nbsp;&nbsp;Print Envelopes</button>
                                           </div>
                                        </div>
                                        <div id="body-to-print" class="modal-body" style="font-size: 14px">
                                        <div class="text-center">
                                        <p class="text-center" style="margin-top: -10px; font-weight: bolder; font-size: 14px">POPE FRANCIS FOR RESILIENT AND CO-EMPOWERED SUSTAINABLE COMMUNITIES</p>
                                        <p class="text-center" style="margin-top: -10px; font-weight: bolder; font-size: 14px">(FRANCESCO) INC.</p>
                                        <span class="text-center" style="margin-top: -20px">Brgy. 99 Diit, Tacloban City</span>
                                        <span class="text-center" style="margin-top: -20px">6500 Philippines</span>
                                        <small><h6 style="font-size: 14px">PAYROLL: 
                                                 &nbsp;&nbsp;<span style="font-weight: bolder; font-size: 18px" class="text-danger" id="table-payrollemps-location"></span><br/>
                                                 FOR THE PERIOD: &nbsp;&nbsp;<span id="table-payrollemps-period">br/</span>
                                           </h6></small>
                                        </div>

                                               <table id="table-payroll-emps" style="font-size: 12px" class="table table-hover table-bordered table-condensed">
                                                    <thead>
                                                        <tr>
                                                             <th width="1">No</th>
                                                             <th style="text-align: left" width="">Employee Name</th>
                                                             <th style="text-align: center" width="">Designation</th>
                                                             <th width="80" style="text-align: center" width="">No. of days</th>
                                                             <th width="80" style="text-align: center" width="">Rate per day</th>   
                                                             <th id="this-allowance" style="text-align: left"width="">OT-hrs</th>
                                                             <th id="this-allowance" style="text-align: left"width="">OT-mins</th>
                                                             <th style="text-align: center">Undertime</th>
                                                             
                                                             <th id="this-allowance" style="text-align: right" width="">Total</th>
                                                            
                                                             <th width="1" id="emp-no">No</th>
                                                             <th id="remove" class="signature" width="">Signature</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="list-of-payrollemps" class="" style="cursor: pointer"></tbody>
                                               </table>
                                        </div>
                                        <div class="modal-footer">
                                           
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                    
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
