<% var t_advances = 0.0 %>
<% var t_sss = 0.0 %>
<% var t_phil = 0.0 %>
<% var t_rice = 0.0 %>
<% var t_undertime = 0.0 %>
<% var numbering = 0 %>
<%= numbering = 0  %>
<% var numbering = 0 %>
<% var table_net = 0.0, table_sss = 0.0, table_phil = 0.0, table_advance = 0.0, table_allowance = 0.0, total = 0.0  %>
<% var breakdown = [1000 ,500 ,200 ,100 ,50 ,20 ,10 ] %>
<% var one_thousand = 0, five_hundred = 0, two_hundred = 0, one_hundred = 0, fifty = 0,  twenty = 0, ten = 0, five = 0 %>
<% var t_ot_hrs = 0, t_ot_mins = 0 %>

<% library.forEach(function(model) { %>
<% var empNet = Math.floor(model.net) %>
<tr id="<%= model.payroll_id %>-<%= model.emp %>">
<% var salary = Number(model.num_of_days) * Number(model.rpd) %>
<% salary += Number(self.getOtHrs(model)) %>
<% salary += Number(self.getOtMins(model)) %>
<% salary = Number(salary) - Number(self.getUndertimeTotal(model)) %>

        <td style="text-align: center"><%= ++numbering %></td>
        <td style="text-align: left"><%= employees.function.getFullname(model.emp) %></td>
        <td style="text-align: center"><%= positions.function.getName(model.position).toUpperCase() %></td>
        <td style="text-align: center"><%= attendances.function.getNumOfDays(model.num_of_days) %></td>
       
        <td style="text-align: center"><%= model.rpd %></td>
        <td style="text-align: left">
         <% if(Number(model.ot_hrs) > 0) { %>
           <b><%= model.ot_hrs %></b>
           &nbsp;&nbsp;
           equiv. to
           &nbsp;&nbsp; 
           <b><%= accounting.formatMoney(self.getOtHrs(model),'P ', 2) %></b>
         <% } else { %> 
            0
         <% } %>
        </td>
        <td style="text-align: left">
          <% if(Number(model.ot_hrs) > 0) { %>
           <b><%= model.ot_mins %></b>
           &nbsp;&nbsp;
           equiv. to
           &nbsp;&nbsp; 
           <b><%= accounting.formatMoney(self.getOtMins(model),'P ', 2) %></b>
          <% } else { %> 
            0
         <% } %> 
        </td>
        <td class="text-center">
           <% if(Number(model.undertime) > 0) { %>
           <%= model.undertime %> hr/s&nbsp;&nbsp;=&nbsp;&nbsp;
            P <%= self.getUndertimeTotal(model) %>
           <% } else { %> 
            0
           <% } %> 
           
          
        </td>
        <td class="text-primary" id="allowance" style="text-align: right;font-weight: bolder"><%= accounting.formatMoney(salary, " ", 2) %></td>
        
        <td style="text-align: center"><%= numbering %></td>
        <td id="remove" class="text-center"><a style="cursor: pointer"><span class="text-danger glyphicon glyphicon-remove"></span></a></td>

        <% t_advances += parseFloat(model.advances) %>
        <% t_sss += parseFloat(model.sss) %>
        <% t_phil += parseFloat(model.phil) %>
        <% t_rice += parseFloat(model.rice_allowance) %>
        <% t_undertime += parseFloat(payrollemps.function.getUndertime(model)) %>
        <% table_net += parseFloat(empNet) %>
        <% total += parseFloat(salary) %>

</tr>

<% }) %>

<% numbering = 0 %>

<tr class="text-danger" style="text-align:right; font-weight: bolder; font-size: 16px">
     <td colspan="8"  style="text-align: center" id="th-colspan">PAYROLL TOTAL</td>
     <td id="allowance"><span class="pull-left"></span><%= accounting.formatMoney(total, "P ", 2) %></td>
     <!-- <td id="allowance" class="text-center"><%= accounting.formatMoney(t_advances, " ", 2) %></td>
     <td id="allowance" class="text-center"><%= accounting.formatMoney(t_sss, " ", 2) %></td>
     <td id="allowance" class="text-center"><%= accounting.formatMoney(t_phil, " ", 2) %></td>
     <td id="allowance" class="text-center"><%= accounting.formatMoney(t_undertime, " ", 2) %></td>
     <td><span class="pull-left"></span><%= accounting.formatMoney(table_net, " ", 2) %></td> -->
     <td id="remove" colspan="2"></td>
</tr>