<% var t_advances = 0.0 %>
<% var t_sss = 0.0 %>
<% var t_phil = 0.0 %>
<% var t_rice = 0.0 %>
<% var t_undertime = 0.0 %>
<% var numbering = 0 %>
<%= numbering = 0  %>
<% var numbering = 0 %>
<% var table_net = 0.0, table_sss = 0.0, table_phil = 0.0, table_advance = 0.0, table_allowance = 0.0, total = 0.0  %>
<% var breakdown = [1000 ,500 ,200 ,100 ,50 ,20 ,10 ] %>
<% var one_thousand = 0, five_hundred = 0, two_hundred = 0, one_hundred = 0, fifty = 0,  twenty = 0, ten = 0, five = 0 %>
<% var model = {} %>
<% library.forEach(function(lib) { %>
<% model = lib.toJSON() %>
<% var empNet = Math.floor(model.net) %>
<tr id="<%= model.payroll_id %>-<%= model.emp %>">
<% var salary = Number(model.num_of_days) * Number(model.rpd) %>

        <td style="text-align: center"><%= ++numbering %></td>
        <td style="text-align: left"><%= employees.function.fullname(model.emp) %></td>
        <td style="text-align: center"><%= positions.function.getName(model.position).toUpperCase() %></td>
        <td style="text-align: center"><%= attendances.function.getNumOfDays(model.num_of_days) %></td>
       
        <td style="text-align: center"><%= model.rpd %></td>
        <td id="allowance" style="text-align: right"><%= accounting.formatMoney(salary, " ", 2) %></td>
        <td id="allowance" style="text-align: center"><%= accounting.formatMoney(model.advances, " ", 2) %></td>
        <td id="allowance" style="text-align: center"><%= accounting.formatMoney(model.sss, " ", 2) %></td>
        <td id="allowance" style="text-align: center"><%= accounting.formatMoney(model.phil, " ", 2) %></td>
        <td id="allowance" style="text-align: center"><%= payrollemps.function.getUndertime(model) %></td>
        <td style="text-align: right"><%= accounting.formatMoney(empNet, " ", 2) %></td>
        <td style="text-align: center"><%= numbering %></td>
        <td id="remove" class="text-center"></td>

        <% t_advances += parseFloat(model.advances) %>
        <% t_sss += parseFloat(model.sss) %>
        <% t_phil += parseFloat(model.phil) %>
        <% t_rice += parseFloat(model.rice_allowance) %>
        <% t_undertime += parseFloat(payrollemps.function.getUndertime(model)) %>
        <% table_net += parseFloat(empNet) %>
        <% total += parseFloat(salary) %>

</tr>

<% }) %>

<% numbering = 0 %>

<tr style="text-align:right; font-weight: bolder; font-size: 15px">
     <td colspan="5"  style="text-align: center" id="th-colspan">Total</td>
     <td id="allowance"><span class="pull-left"></span><%= accounting.formatMoney(total, " ", 2) %></td>
     <td id="allowance" class="text-center"><%= accounting.formatMoney(t_advances, " ", 2) %></td>
     <td id="allowance" class="text-center"><%= accounting.formatMoney(t_sss, " ", 2) %></td>
     <td id="allowance" class="text-center"><%= accounting.formatMoney(t_phil, " ", 2) %></td>
     <td id="allowance" class="text-center"><%= accounting.formatMoney(t_undertime, " ", 2) %></td>
     <td><span class="pull-left"></span><%= accounting.formatMoney(table_net, " ", 2) %></td>
     <td id="remove" colspan="2"></td>
</tr>
