    
                            <div class="modal fade" id="modalCreateAttendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 1300px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h6 class="modal-title" id="myModalLabel"></h6>
                                        </div>
                                        <div class="modal-body">
                                             <label>From</label>
                                                 <input type="text" id="form" class="form-control input-sm">
                                             <label>To</label>
                                                  <input type="text" id="to" class="form-control input-sm">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-info">Ok</button>
                                        </div> 
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
