        <div class="container">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Records
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">Records&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-list"></span></a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab">Registration&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-save"></span> </a>
                                </li>
                                <li id="li-placeholder-btnAddAccount"></li>
                               
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home-pills">
                                   <div style="overflow: scroll">
                                        <table class="table table-hover table-bordered table-condensed" style="font-size: 14px; margin: 20px 0 0 0; width: 1400px">
                                           <thead class="text-info">
                                                <tr>
                                                    <th width="1"><input type="checkbox" id="check-all-accounts"></th>
                                                    <th>Id</th>
                                                    <th>Fullname</th>
                                                    <th>Usertype</th>
                                                    <th>Contact</th>
                                                    <th>Active Email</th>
                                                    <th>Gender</th>
                                                    <th>Current Address</th>
                                                    <th>Username</th>
                                                   <th>Password</th>
                                                </tr>
                                            </thead>
                                            <tbody id="list-of-accounts" class="">
                                  
                                                 <tr>
                                                      <td>-</td>
                                                      <td>Connecting......</td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                 </tr>                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile-pills">
                                    
                                    <div id="div-form-add-account"></div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                   
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->

    