                            <div class="modal fade" id="modalAddNewEmployeeInAttendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 300px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h6 class="modal-title" id="myModalLabel">New Employee</h6>
                                        </div>
                                        <div class="modal-body">
                                            <select id="cbo-add-new-emp-attendance" class="form-control" style="width: auto">
                                                <option>Search employee</option>
                                            </select>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btn-block" id="btnInsertNewEmpInAttendance">Add</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>