                            <div class="modal fade" id="modalLoadingIndacator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 240px; margin-top: 200px">
                                    <div class="modal-content">
                                       
                                        <div class="modal-body" style="text-align: center">
                                            <small>Please wait..</small>
                                            <i class="fa fa-spinner fa-pulse fa-2x" ></i>
                                        </div>
                                        
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>