                
                <div class="container" style="width: 50%">
                     
                    <div class="alert alert-info alert-dismissable">
                         Welcome back <%= sessionStorage.getItem('firstname') + ' ' + sessionStorage.getItem('lastname') %>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                           
                        </div>
                        <div class="panel-body text-center">
                            <button class="btn btn-lg btn-info">Previous Payroll</button>
                            <button class="btn btn-lg btn-info">Previous Overtime</button><br>
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>

                </div>       
               