                            <div class="modal fade" id="modalPayDebt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 500px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                           <label>Employee <input id="debt-fullname" type="text" class="form-control input-sm" style="color: black; font-size: 20px; width: 200px; margin-top: 16px" readonly></label>
                                           <label>Balance <input id="balance" type="text" class="form-control input-sm" style="color: black; font-weight: bolder; font-size: 20px; width: 200px; margin-top: 16px" readonly></label>
                                           <input type="hidden" id="debt-emp-id">
                                        </div>
                                        <div class="modal-body">
                                            <label>Input
                                                <input type="number" id="value" style="width: 300px" class="form-control input-sm" id="value">
                                            </label>
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" id="btnSubmit" class="btn btn-sm btn-info">OK</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>