                            <div class="modal fade" id="modalOvertimeBreakdown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                                
                                                        <div class="col-lg-12">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    Overtime breakdown
                                                                </div>
                                                                <!-- /.panel-heading -->
                                                                <div class="panel-body">
                                                                    <!-- Nav tabs -->
                                                                    <ul class="nav nav-pills">
                                                                        <li class="active"><a href="#home-pills" data-toggle="tab">Total</a>
                                                                        </li>
                                                                        <a href="#printOvertimeBreakdown" class="pull-right"><span class="fa fa-print"></span></a>
                                                                        <li><a href="#profile-pills" data-toggle="tab">Breakdown</a>
                                                                        </li>
                                                                       
                                                                    </ul>
                                        
                                                                    <!-- Tab panes -->
                                                                    <div class="tab-content" style="font-size: 12px">
                                                                        <div class="tab-pane fade in active" id="home-pills">
                                                                        <h6 style="margin-top: -10px">Overtime total</h6>
                                                                            <table class="table table-hover table-bordered table-condensed" style=" margin-top: 20px; font-size: 12px">
                                                                                 <thead>
                                                                                     <tr>
                                                                                         <th class="text-center">Location</th>
                                                                                         <th class="text-center">Date</th>
                                                                                         <th class="text-right">Total</th>
                                                                                     </tr>
                                                                                 </thead>
                                                                                 <tbody id="list-of-overall-total"></tbody>
                                                                            </table>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="profile-pills">
                                                                        <hr/>
                                                                            <ul class="list-group">
                                                                              <li class="list-group-item">
                                                                                <span class="badge"><%= overtime_payrolls.function.breakdown(500) %></span>
                                                                                500
                                                                              </li>
                                                                              <li class="list-group-item">
                                                                                <span class="badge"><%= overtime_payrolls.function.breakdown(100) %></span>
                                                                                100
                                                                              </li>
                                                                              <li class="list-group-item">
                                                                                <span class="badge"><%= overtime_payrolls.function.breakdown(50) %></span>
                                                                                50
                                                                              </li>
                                                                              <li class="list-group-item">
                                                                                <span class="badge"><%= overtime_payrolls.function.breakdown(20) %></span>
                                                                                20
                                                                              </li>
                                                                              <li class="list-group-item">
                                                                                <span class="badge"><%= overtime_payrolls.function.breakdown(10) %></span>
                                                                                10
                                                                              </li>
                                                                              <li class="list-group-item">
                                                                                <span class="badge"><%= overtime_payrolls.function.breakdown(5) %></span>
                                                                                5
                                                                              </li>
                                                                              <li class="list-group-item">
                                                                                <span class="badge"><%= overtime_payrolls.function.breakdown(1) %></span>
                                                                                1
                                                                              </li>
                                                                             
                                                                            </ul>
                                                                        </div>
                                                                      
                                                                    </div>
                                                                </div>
                                                                <!-- /.panel-body -->
                                                            </div>
                                                            <!-- /.panel -->
                                                        </div>
                                                        <!-- /.col-lg-6 -->
                                                    

                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>