                <div class="container">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                           Over time payroll
                           <button class="btn btn-sm pull-right btn-info" id="btnSubmit">Submit payroll</button>
                        </div>

                        <div class="panel-body">

                        <div>

                        <label>Work hours: <input type="text" class="form-control" id="all-work-hours"></label>

                           <!--  

                               <label><input type="checkbox" name="" value="" placeholder="" id="input-present-all"/> All is present </label><br/>
                                <label>Time start: <input type="text" id="time-start" class="form-control"></label>
                                <label>Time end: <input type="text" id="time-end" class="form-control" style="width: 150px; margin-right: 50px"></label>

                                <label>Time difference:
                                      <p id="time_difference" style="font-weight: bolder" class="text-danger">0</p>
                                </label> 

                            -->

                            <table class="table table-hover table-bordered table-striped" style="font-size: 14px">
                                 <thead>
                                     <tr>
                                         <th width="10">No.</th>
                                         <th>Fullname</th>
                                         <th class="text-center">Designation</th>
                                         <th width="100">No. of Hours</th>
                                         <th width="100">No. of Minutes</th>
                                         <th></th>
                                         <th width="100" class="text-center">RPD</th>
                                         <th width="100" class="text-center">RPH</th>
                                         <th width="100" class="text-center">Total</th>
                                         <th width="1"></th>
                                     </tr>
                                 </thead>
                                 <tbody id="list-of-overtime-employees">
                                     <tr>
                                        <th colspan="6">Loading please wait...</th>
                                     </tr>
                                 </tbody>
                            </table>

                           </div>

                        </div>
                        <div class="panel-footer">
                           
                        </div>
                    </div>
                </div>
               <div id="placeholder-modal"></div>