                            <div class="modal fade" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="height: 200px">
                                <form id="form-chat-box">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            
                                        </div>
                                        <div class="modal-body" style="text-align: center">
                                            <div >
                <div class="chat-box-div">
                    <div class="chat-box-head">
                        CHAT HISTORY
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-cogs"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                             
                            </div>
                    </div>

                    <div class="panel-body chat-box-main" style="width: 550px" id="chat-div">
                        <table class="table table-condensed table-hover" style="font-size: 13px">
                            <tbody id="list-of-chats"></tbody>
                        </table>
                    </div>

                    <div class="chat-box-footer">
                        <div class="input-group">
                            <input type="text" name="chat_text" class="form-control" id="chat-text" placeholder="Enter Text Here...">
                            <span class="input-group-btn">
                                <input type="hidden" id="chat-id" name="chat_id" class="group-chat-text">
                                <button class="btn btn-primary" name="btn_send_chat" type="submit" id="btnSendChat">SEND</button>
                            </span>
                        </div>
                    </div>
    
                </div>

            </div>



                                        </div>
                                        <div class="modal-footer">
                                            
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                    </form>
                                </div>
                                <!-- /.modal-dialog -->
                            </div>