
<div style="position: absolute; margin: 200px 0px 0 -230px; width: 200px; height: 200px; font-size: 14px">
                <div class="chat-box-online-div">
                    <div class="chat-box-online-head">
                        ONLINE USER (<span id="online-user-num"></span>)
                    </div>
                    <div class="panel-body chat-box-online" id="list-online-users" style="text-align: center">
                        <button class="btn btn-xs" id="btnEnterGroupChat">Enter group chat</button> 
                    </div>

                </div>

            </div>
