<div class="col-lg-12" id="div-emps-with-pic">
    
    <div style="position: fixed; background-color: white; margin-top: -5px">
   
    <button class="btn btn-info btn-sm pull-right" id="btnPrintAll">Print ALL</button>
    <p class="pull-right" style="font-size: 12px; margin-top: 10px"><span style="font-size: 12px" id="no-of-pics" class="badge">....</span> records &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
   
    Search <input type="text" class="form-control" style="border-radius: 25px; width: 230px; display: inline;" placeholder="Search name here" id="search-query-pic" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
    <select id="positions-in-emp-pics" class="form-control" style="width: auto; display: inline; margin-right: 15px; ">
       <option>Select Designation</option>
    </select>

    <select id="sites-in-emp-pics" class="form-control" style="width: 250px; display: inline; margin-right: 20px">
       <option>Select Sites</option>
    </select>

   </div> 

   <div id="list-of-emps-with-pic" style="margin-top: 4%"></div>
</div>