<% library.forEach(function(model) { %>
<tr id="<%= model.id %>">
   <td><input type="checkbox" value="<%= model.id %>"></td>
   <td><%= model.id %></td>
   <td><%= model.lastname %>, <%= model.firstname %> <%= model.middlename %></td>
   <td style="text-align: right"><%= accounting.formatMoney(model.rpd, " ", 2) %></td>
   <td style="text-align: center"><%= positions.function.getName(model.position) %></td>
   <td style="text-align: center"><%= employees.function.getGender(model.gender) %></td>
   <td style="text-align: center"><%= projects.function.getLocation(model.location) %></td>
   <!-- <td style="text-align: center"><%= employees.function.getRA(model.rice_allowance) %></td> -->
   <td><a href="#remove-employee/<%= model.id %>"><span class="glyphicon glyphicon-remove text-danger"></span></a</td>
</tr>
<% }); %>