    
                            <div class="modal fade" id="modalUploadPhotoEmployee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="font-size: 15px">
                                <div class="modal-dialog" style="width: 300px; margin-top: 100px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h6 class="modal-title" id="myModalLabel">Upload photo</h6>
                                        </div>
                                        <div class="modal-body">
                                            <div id="upload-here" class="text-info"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Not now</button>    
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
