                <div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <small> Profile</small> 
                        </div>
                        <div class="panel-body">
                            <div id="employee-profile" style="font-size: 12px">
                                <label>Fullname: </label>
                                <span class="text-info" id="fullname"></span><br>
                                <label>Rate per day: </label>
                                <span id="rpd"></span><br>
                                <label>Designation: </label>
                                <span id="location"></span><br>
                            </div>
                        </div>
                        <div class="panel-footer">
                           
                        </div>
                    </div>
                </div>
               
               <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <small>Previous Records</small>
                        </div>
                        <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-hover" style="font-size: 11.5px">
                              <thead>
                                  <tr>
                                     <th>Date</th>
                                     <th>Num of days</th>
                                     <th>Advances</th>
                                     <th>SSS</th>
                                     <th>Phil. health</th>
                                     <th>Rice allowance</th>
                                     <th>Total</th>
                                     <th>Net amount</th>
                                     <th></th>
                                  </tr>
                              </thead>
                              <tbody id="list-of-my-salary"></tbody>
                          </table>
                         </div> 
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>
                </div>
               